.bundle/
log/*.log
pkg/
spec/dummy/log
spec/dummy/db/*.sqlite3
spec/dummy/tmp/
spec/dummy/.sass-cache
*.gem
*.rbc
.config
coverage
InstalledFiles
lib/bundler/man
rdoc
spec/reports
spec/tmp
spec/version_tmp
tmp
.DS_Store
passenger.3000.log
passenger.3000.pid.lock

# YARD artifacts
.yardoc
_yardoc
doc/
Gemfile.lock
