.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
*.gem
*.rbc
.config
coverage
InstalledFiles
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
passenger.3000.log
passenger.3000.pid.lock

# YARD artifacts
.yardoc
_yardoc
doc/
